.login {
  position: relative;
  height: 560px;
  width: 405px;
  margin: auto;
  padding: 60px 60px;
  margin-top: 20px;
  /* background: url() no-repeat   center center #505050;    */
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
}


.active {
  border-bottom: 2px solid #70b269;
}

.login h2 {
  font-size: 22px;
  padding-bottom: 5px;
  display: inline-block;
  font-weight: 100;
}

.login .inputs {
  opacity: 0.4;
  display: inline-block;
  position: relative;
  transition: all 0.5s ease-in-out;
  margin-top: 19px;
}

.text {
  width: 89%;
  padding: 10px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0);
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}

.text:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.text:focus+.inputs {
  opacity: 0.6;
}

.login h2,
.login .inputs,
.checkbox {
  margin-left: 20px;
}

.checkbox {
  padding: 8px;
  display: inline-block;
}

.checkbox:checked {
  background-color: #70b269;
}

.login_button {
  background-color: #70b269;
  color: #FFF;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
}

.login_button:hover {
  background: #70b269;
  box-shadow: 0px 4px 35px -5px #70b269;
  cursor: pointer;
}

.googleLogin button{
  background-color: rgb(255, 255, 255);
  display: inline-flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}