.mainpage{

background-image: url("https://scontent-frt3-1.xx.fbcdn.net/v/t39.30808-6/242829495_1274717976291777_1374395012164106851_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeG1Hq1hMDvVYwIQc8CAALTSk0ujnnYL0LqTS6OedgvQunryCG0iLU5moX0NGCr_KWppjKESrgSoqq2sg1jSxdCf&_nc_ohc=LWhL1XtxuIkAX9cZIWX&_nc_ht=scontent-frt3-1.xx&oh=00_AT83DnOt7Cr9lsT6uls7WRO36_CR4xF6dhsSvJLwoqiBug&oe=62AEDC52");
min-height:77.65vh ;
overflow: hidden;
background-attachment: fixed;



}