@media screen and (max-width: 1438px) {
 
   .circlen{
  position: absolute;
    top: 45%;
   right: 100rem;
  }
  }


  @media screen and (max-width: 2400px) {
 
    .circlen{
   position: absolute;
     top: 50%;
    right: 100rem;
   }
   }
 


   @media screen and (max-width: 1518px) {
    .featured{
width:25%;
position: absolute;
right: 80%;
    }
  }
 
  @media screen and (max-width: 1376px) {
    .featured{
width:25%;
position: absolute;
right: 100%;
    }
    .featuredItem{
        width:400%
    }
  }

  @media screen and (max-width: 1046px) {
    .featured{
width:25%;
position: absolute;
right: 90%;
    }
    .featuredItem{
        width:400%
    }
  }
  @media screen and (max-width: 853px) {
    .featured{
width:25%;
position: absolute;
right: 90%;
    }
    .featuredItem{
        width:400%
    }
  }
 