.cchart {
    margin: 20px;
    padding: 20px;
    position: absolute;
    right: 0rem;
    height: 100rem;
    width: 40rem;
    bottom: 0rem;
    right: 8%;
  }
  
  .cchartTitle {
    margin-bottom: 20px;
  }

