.page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: azure;
}

.meal_page {
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.meal_img {
  width: 600px;
  height: 490px;
  border: 2px solid #fff;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
/* ****************** rating ******************* */

.rating {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  margin-right: 20%;
}

.avg_rating {
  margin-top: 7px;
  font-weight: bold;
}
/* ***************comment ************************** */
.meal_comment {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  margin-right: 2%;
  align-items: center;
}

.comment {
  display: flex;
  justify-content: baseline;
}
/* ************cart div**************** */

.cart_div {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  margin-bottom: 10%;
  margin-top: 7%;
}

.meal_name {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: #222;
  letter-spacing: 1px;
  text-transform: uppercase;

  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.meal_name:after,
.meal_name:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #c50000;
  border-top: 1px solid #c50000;
  height: 5px;
}

.name_rate_cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5%;
}

.count_order {
  border: none;
  padding: 1rem;
  width: 56%;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff;
  transition: 0.3s;
  margin-left: 3%;
}
.count_input {
  border: none;
  padding: 1rem;
  width: 56%;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff;
  transition: 0.3s;
  margin-left: 3%;
}

.count_input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}

.add_minus_butt {
  padding: 1.3em 3em;
  font-size: 12px;
  font-weight: 500;
  color: #70b269;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 38%;
}

.add_minus_butt:hover {
  background-color: #70b269;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  color: #000;
}
/* 
.scroll_div {
 
} */
.comments_array {
  align-items: flex-start;
  /* overflow: scroll; */
  /* position: relative; */
  max-width: 70%;
  /* height: auto; */
  margin: 20px 10px;
  padding: 5px;
  background-color: #dadada;
  border-radius: 3px;
  border: 5px solid #ccc;
  overflow-y: scroll;
  overflow-x: hidden;
}

.commenter_name {
  font-weight: bold;
  color:#4b0909
}

.comment_in_scroll {
  float: right;
  color:#4b0909
}

div {
  background-repeat: no-repeat;
}

.comment_commenter {
  background-color: #c5c5c5;
  /* min-height: 30%; */
  border-radius: 3px;
  border: 10px solid #ccc;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
