.page{
    display :grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.meal_img{
    display :grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.meal_img{
   margin-top: 50px;
   background-size: cover;
   background-repeat: no-repeat; 
}