.newUser {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 13%;
  height: 35rem;
  width: 35rem;
  margin: auto;
  padding: 60px 60px;
  margin-top: 50px;
  /* background: url() no-repeat   center center #505050;    */
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
  }
  
.newUserTitle{
  align-items: center;
  font-size:medium;
  position: absolute;
  right: 12rem;
}
/* media */
  .in{
    height: 1rem;
    width: 18rem;
    position: absolute;
    left: 2rem;
  }
  .lal{
    position: absolute;
    right: 10%;
  }

  .right_column{
    display: flex;
    flex-direction: column;
  }
  .newUser form {
    padding-top: 80px;
     margin-bottom: 10px;
    padding-bottom: 10px; 
    display: flex;
    flex-direction: row;
  }
  .newUserForm {
    display: flex;
    flex-wrap: wrap;
  }
  
  .newUserItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
    display: block;
  }
  
  .newUserItem > label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
  }
  
  .newUserItem > input {
    height: 2rem;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
  }
 
  
 
 
  
  .newUser Button{
      width: 200px;
      border: none;
      background-color: rgb(41, 232, 98);
      color: white;
      padding: 7px 10px;
      font-weight: 600;
      border-radius: 10px;
      margin-top: 30px;
      cursor: pointer;
      position: absolute;
      bottom: 3rem;
      right: 10rem;
  }




  .featureduser {
    display: flex;
    position: absolute;
    top:8%;
    right: 22%;
    background-size: cover;
    box-shadow: 0px 30px 60px -5px #000;
  }
  
  .featuredItemuser {
   width:20rem;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .featuredTitleuser{
      font-size: 20px;
  }
  
  .featuredMoneyContaineruser{
      margin: 10px 0px;
      display: flex;
      align-items: center;
  }
  
  .featuredMoneyuser{
      font-size: 30px;
      font-weight: 600;
  }
  
  .featuredMoneyRateuser{
      display: flex;
      align-items: center;
      margin-left: 20px;
  }
  
  .featuredIconuser{
      font-size: 14px;
      margin-left: 5px;
      color: green;
  }
  
  .featuredIcon.negativeuser{
      color: red;
  }
  
  .featuredSubuser{
      font-size: 40px;
      color: gray;
  }

  
  @media only screen and (max-width: 1351px) {
    .featureduser{
      position: absolute;
      top:60%;
      right: 50%;
    }
    .newUser{
      position: absolute;
      right: 50%;
    }
    
 }

 @media only screen and (max-width: 941px) {
  .newUser{
    position: absolute;
    left:20%;
    right: 50%;
  }
  .featureduser{
    position: absolute;
    left: 0%;
    width: 80%;
  }
  
}